<!doctype html>

<html land="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body class="content">
    <script>
    function buttonCall(){
        alert("SignUp Complete!")
    }
    </script>
    <nav class="navbar navbar-inverse navbar-fixed-top">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Movies+</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/../">Login</a></li>
            <li class="active"><a href="">Create Account</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="container" class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-10 col-md-7">
                <h2 font-weight="bold" class="title" > Sign Up<h2>
                <br>
                <br>
                <form name="Create Account" action="/new" method="post" class="form">
                Name:<br>
                <input type="text" id="name" name="Name" required>
                <br>
                Username:<br>
                <input type="text" id="username" name="Username" required>
                <br>
                Password:<br>
                <input type="text" id="password" name="password" required>
                <br>
                <br>
                <p> To Create an Account and get personalised recommendations, also submit a first review!</p>
                <br>
                Film Name:<br>
                <center><input list='filmList' name="filmName" size="50" required></center>
                <datalist id="filmList" name="FilmList">
                    {% for o in option_list %}
                    <option value="{{ o }}">
                    {% endfor %}
                </datalist>
                <br>
                Rating:<br>
                <select name="rating" required>
                    <option value="0.0">0.0</option>
                    <option value="0.5">0.5</option>
                    <option value="1.0">1.0</option>
                    <option value="1.5">1.5</option>
                    <option value="2.0">2.0</option>
                    <option value="2.5">2.5</option>
                    <option value="3.0">3.0</option>
                    <option value="3.5">3.5</option>
                    <option value="4.0">4.0</option>
                    <option value="4.5">4.5</option>
                    <option value="5.0">5.0</option>
                    </select>
                <br><br>
                <input type="submit" value="Sign Up" onclick="buttonCall">
                <br><br>
            </form>
            <br>
            <br>
        </div>
        </div>
        </div>
  </div>
</body>
