<!doctype html>

<html land="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body class="content">
    <nav class="navbar navbar-inverse navbar-fixed-top">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Movies+</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="">Login</a></li>
            <li><a href="/create">Create Account</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="container" class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-10 col-md-7">
                <h2 font-weight="bold" class="title" > Login<h2>
                <p class="paragraph"> Welcome to Movies+, the movie recommendation service.</p>
                <p class="paragraph"> Login to access movie recommendation features and add reviews! </p>
                <br>
                <br>
                <form name="LogIn" action="/home" method="post" class="form">
                Username:<br>
                <input type="text" color="black" id="username" name="Username">
                <br>
                Password:<br>
                <input type="password" color="black" id="password" name="password">
                <br><br>
                <input type="submit" value="Login" color="black">
            </form>
            <br>
            <br>
        </div>
        </div>
        </div>
  </div>
</body>
